<div class="videos">
  <div
    *ngIf="!connection.connectionEstablished"
    class="interface-call-settings"
  >
    <input
      placeholder="Enter room name..."
      (input)="handleRoomNameInput($event)"
    />
    <button (click)="handleHost()">host</button>
  </div>
  <div *ngIf="connection.connectionEstablished">
    <ng-template ngFor let-item [ngForOf]="connection.allStreams">
      <div>
        <app-video [stream]="item.stream"> </app-video>
      </div>
    </ng-template>
  </div>
</div>
<div class="interface">
  <div class="interface-call-settings">
    <input
      placeholder="Enter room name..."
      (input)="handleRoomNameInput($event)"
    />
    <button (click)="handleJoin()">call</button>
  </div>
  <button class="interface-call-end">end call</button>
  <div class="interface-link">
    <button [disabled]="!connection.roomEntered" (click)="generateLink()">
      get link for a room!
    </button>
  </div>
</div>
